---
description: >-
  The Verification Badge indicates that an individual or organization is
  legitimate and has passed verification checks. It’s a simple but important way
  to help others trust your identity.
icon: badge-check
---

# Verification

A Verification Badge confirms that:

* An individual or organisation is affiliated with a real organization.
* The account administrator has an email address at the organization’s official domain (e.g., name@yourorganization.com).&#x20;

<figure><img src="../.gitbook/assets/Image 434266537 759x433.png" alt=""><figcaption></figcaption></figure>

{% hint style="warning" %}
We are unable to verify Collectives at this moment. This is something we are hoping to offer in future.&#x20;
{% endhint %}

**How to Get Verified**

1. **Reach out to Support:** Contact our support team and let us know you'd like to request verification.
2. **Email Domain Match**: Please ensure you email us from your organization’s official domain, which matches your official website, so that we can verify the match.&#x20;
3. **Badge Applied**: The badge will automatically appear on your individual or organization’s profile once verified.\


There’s no verification cost,  just a simple way to build trust across the platform.
